<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--    main activities   -->
        <activity android:name=".SongLyricsSearch" />
        <activity android:name=".SoccerMatchHighlights" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--    pavel's activities  -->
        <activity
            android:name=".GeoDataSource"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GeoCityList"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".GeoCityInfo"
            android:configChanges="keyboardHidden|orientation|screenSize" />

<!--    yulia's activities-->
        <activity android:name=".DeezerSongSearch" />
        <activity android:name=".DeezerCustomProgressBarActivity" />
        <activity
            android:name=".DeezerEmptyActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".Deezer_activity3" />
        <activity android:name=".Deezer_activity1" />
        <activity android:name=".Deezer_activity2" />
    </application>

</manifest>
